.navbar{
    background: #212a31;
    /* width: 100vw; */
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d3d9d4;

}

.navbrand{
    display: flex;
    margin-left: 100px;
    align-items: center;
}
.navlinks{
    display: flex;
    margin-left: 50px;
    
}

.navlinks li{
    font-size: .9rem;
    list-style: none;
    padding: 0 10px;
}

.socials ul{
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.socials li{
    font-size: .9rem;
    list-style: none;
    padding: 0 15px;
    color: #d3d9d4;
}

